extends ../../layout

block title
	title Detail

block content
	a(href=`/articles/${article.id}/edit`) edit
	h2= article.title
	br
	h3= article.User.name
	h3= article.content
	each comment in article.Comments
		.commentBlock
			h4= comment.content
			h5 By #{comment.User.name}


	form(method='post' action=`/articles/${article.id}/comments`)
		p.h5 Add Comment
		textarea.form-control(name="content")
		button.btn.btn-primary(action='submit') Submit

//-   form(method='post' action='/articles')
//-     .title
//-         label Title
//-         br
//-         //- input(name='title')

//-     .desc
//-         label Description
//-         br
//-         //- textarea(name="desc" cols="30" rows="10")

	.buttons
		a(href='/articles') update
		button(type='submit') delete
